<div class="loginDiv">
  <div class="formDiv">
    <div class="login">Login</div>
    <form action="" [formGroup]="loginForm">
      <div class="form-floating inputClass mb-3">
        <input
          type="text"
          formControlName="username"
          class="form-control"
          placeholder="User Name"
        />
        <label for="floatingInput"
          >User Name <span style="color: red">*</span></label
        >
      </div>
      <div class="form-floating inputClass">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Password"
        />
        <label for="floatingPassword"
          >Password <span style="color: red">*</span></label
        >
      </div>
      <span
        class="SignUp"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        >Add New User</span
      >
    </form>
    <button
      type="button"
      [disabled]="!loginForm.valid"
      (click)="login()"
      class="btn btn-light loginButton"
      id="liveToastBtn"
    >
      Login
    </button>
  </div>
</div>

<!-- toast for login message  -->
<div class="toast-container position-fixed top-0 end-0 p-3">
  <div
    id="liveToast"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    [class.show]="toastVisible"
  >
    <div class="toast-header">
      <strong class="me-auto">Server Response</strong>
      <small>Just now</small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
        (click)="hideToast()"
      ></button>
    </div>
    <div class="toast-body">
      {{ toastMessage }}
    </div>
  </div>
</div>
<!-- Register new user  -->
<div class="modal fade" id="staticBackdrop">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Register User</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="registerForm">
          <div class="row g-2">
            <div class="col-md">
              <div class="form-floating inputClass">
                <input
                  type="text"
                  formControlName="username"
                  class="form-control"
                  placeholder="User Name"
                />
                <label for="floatingInput"
                  >User Name <span style="color: red">*</span></label
                >
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating inputClass">
                <input
                  type="text"
                  formControlName="email"
                  class="form-control"
                  placeholder="Enter email"
                />
                <label for="floatingInputGrid"
                  >Email address <span style="color: red">*</span></label
                >
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating inputClass">
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Password"
                />
                <label for="floatingInputGrid"
                  >Password <span style="color: red">*</span></label
                >
              </div>
            </div>
          </div>
          <div class="row g-2">
            <div class="col-md">
              <div class="form-floating inputClass">
                <input
                  type="text"
                  formControlName="country_code"
                  class="form-control"
                  placeholder="Country code"
                />
                <label for="floatingInputGrid"
                  >Country code <span style="color: red">*</span></label
                >
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating inputClass">
                <input
                  type="text"
                  formControlName="mobile_number"
                  class="form-control"
                  placeholder="Mobile No"
                />
                <label for="floatingInputGrid"
                  >Mobile Number <span style="color: red">*</span></label
                >
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating inputClass">
                <input
                  type="text"
                  formControlName="backup_contact"
                  class="form-control"
                  placeholder="Backup person contact"
                />
                <label for="floatingInputGrid"
                  >Backup contact <span style="color: red">*</span></label
                >
              </div>
            </div>
          </div>
          <div class="row g-2">
            <div class="col-md">
              <div class="form-floating inputClass">
                <input
                  type="text"
                  formControlName="security_contact"
                  class="form-control"
                  placeholder="Security contact"
                />
                <label for="floatingInputGrid"
                  >Security contact <span style="color: red">*</span></label
                >
              </div>
            </div>
            <div class="col-md">
              <div class="dropdown inputClass">
                <select
                  class="form-select form-control"
                  formControlName="role"
                  aria-label="Small select example"
                >
                  <option value="" selected disabled class="placeholder">
                    Select Role
                  </option>
                  <option value="Admin">Admin</option>
                  <option value="Client">Client</option>
                </select>
              </div>
            </div>
            <div class="col-md">
              <div class="ImageinputClass">
                <input
                  type="file"
                  formControlName="image"
                  class="form-control"
                  id="imageUpload"
                  (change)="onImageUpload($event)"
                  accept="image/*"
                />
              </div>
              <div *ngIf="imagePreview" class="image-preview">
                <img [src]="imagePreview" alt="Uploaded Image" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline Cancelregister"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          data-bs-dismiss="modal"
          (click)="registerUser()"
          class="btn btn-primary saveRegister"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</div>
